/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

body {
  font-family: -apple-system, 'Inter', sans-serif;
}

:root {
  --body-bg: #FFFFFF;
  --card-bg: #FFFFFF;
  --card-bd-col: #bdbdbd;
  --text-color: #252525;
  --shadow-color: #b3aeae;
}

.dark_mode {
  --body-bg: #1A1A1A;
  --card-bg: #555;
  --card-bd-col: #1A1A1A;
  --text-color: #f5f5f5;
  --shadow-color: rgb(245, 245, 245, 0.2);
}

body {
  background: var(--body-bg);
}

header {
  z-index: 2;
}

header .logo {
  width: 180px;
}

section {
  border-color: transparent;
}

.welcome h1 {
  color: #4D6F80;
}

.img-hero {
  animation: go-back 2s infinite alternate;
}

@media (min-width: 769px) {}

@media (max-width: 768px) {
  .header-img img {
    position: absolute;
  }

  .img-section-2 {
    position: absolute;
    top:750px;
    right: 10px;
  }
}

@keyframes go-back {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

/*************************Home Commerce**************************/

/*Topbar*/
.Topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #3E4095;
  padding: 12px 5vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.Topbar_whatsappButton {
  display: flex;
  align-items: center;
}

.Topbar_whatsappButton p {
  margin-left: 5px;
  color: #fff;
}

.Topbar_ChangeRegion {
  display: flex;
  align-items: center;
  color: #B4B4B4;
  background-color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
}

.Topbar_ChangeRegion p {
  margin-right: 5px;
}

.Topbar_ChangeRegion p  b {
  font-weight: 600;
  color: #8C71C5;
}

.Topbar_ChangeRegion svg {
  fill: #8C71C5;
}

/*NavBar*/
.Navbar-Home {
  display: flex;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  padding: 24px 5vw;
  background-color: #fff;
}

.RightNavbar {
  display: flex;
  align-items: center;
}

.NavLogo img{
  height: 50px;
  margin-right: 80px;
}

.NavLinks {
  display: flex;
}

.CenterNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.SearchBox {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background-color: #F4F4F4;
  width: 50%;
  padding: 12px 14px;
}

.SearchBox input {
  width: 100%;
  background-color: transparent;
}

.SearchBox input:focus {
  outline: 0;
}

.NavLinks li{
  margin-right: 80px;
  font-weight: 500;
  color: #3E4095;
}

.NavButtons {
  display: flex;
}

.NavButtons a{
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border: 1px #6EC3FC solid;
  color: #6EC3FC;
  font-size: 14px;
  font-weight: 500;
  border-radius: 8px;
  margin-left: 12px;
}

.NavButtons a img {
  margin-right: 5px;
}

/*Banner Home*/
.Banner-Home {
  width: 100%;
  height: 60vh;
  background-color: #2F72A3;
  background-image: url('http://verbrascorp.com.br/home/wp-content/uploads/2023/03/TELA-CAPA_4-1.png');
}

.Detalhe {
  width: 100%;
  height: 8px;
  background: linear-gradient(90deg, rgba(236,38,143,1) 0%, rgba(8,141,210,1) 19%, rgba(245,134,52,1) 38%, rgba(168,207,69,1) 58%, rgba(62,64,149,1) 79%, rgba(255,0,0,1) 100%);
}

/*Ink Types*/
.InkTypesArea {
  display: flex;
  justify-content: space-around;
  padding: 32px 15vw;
}

.InkType {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  border-radius: 8px;
  border: 1px #ffffff solid;
  transition: .2s;
}

.InkType:hover {
  border: 1px #DBC0C0 solid;
}

.InkType img {
  height: 90px;
}

.InkType p {
  font-family: 'Montserrat', sans-serif;
  margin-top: 24px;
  font-weight: 300;
}

/*Product Grid Area*/
.ProductGridArea {
  padding: 40px 10vw;
}

.SectionTittle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.ProductGridCards {
  display: grid;
  margin-top: 60px;
  grid-template-columns: repeat(4, calc((100% / 4) - 30px));
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}


.CardProduct {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 60px 20px 20px 20px;
  border-radius: 12px;
  position: relative;
  transition: .1s;
  border: 1px #d8d8d8 solid;
  background: #f5f5f5;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
}

.CardProduct.GridCard2colum {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  font-size: 20px;
  padding: 120px 40px 40px 40px;
}

.CardImageArea {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ClassProduct {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 20px;
  border: 1px #8283c4 solid;
  font-weight: 400;
  transition: .2s;
  color: #8283c4;
}



.CardProduct.GridCard2colum .ClassProduct{
  top: 40px;
  left: 40px;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 20px;
  border: 1px #EFDFDF solid;
}

.FavoriteButton {
  position: absolute;
  top: 20px;
  right: 20px;
}

.CardProduct.GridCard2colum .FavoriteButton {
  top: 40px;
  right: 40px;
  scale: 2;
}
.CardImageArea img {
  width: 80%;
}

.DivisorCard {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e2e2e2;
  margin: 10px 0;
}

.CardProduct.GridCard2colum .DivisorCard {
  height: 2px;
  margin: 20px 0;
}

.CardNameProduct,
.CardProductPrice {
  text-align: center;
}

.CardProductPrice {
  font-size: 18px;
  font-family: 'inter';
  font-weight: 700;
  color: #3E4095;
}

.CardProduct.GridCard2colum .CardNameProduct {
  margin-top: 20px;
}

/*Card Product Hover*/
.CardProduct:hover {
  background-color: #3E4095;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.CardProduct:hover  .ClassProduct {
  background-color: #5051a5;
  border: 1px #5051a5 solid;
  color: #fff;
  font-weight: 400;
}

.CardProduct:hover .FavoriteButton {
  display: none;
}

.CardProduct:hover .DivisorCard{
  background-color: #5051a5;
}


.CardProduct:hover .CardNameProduct,
.CardProduct:hover .CardProductPrice {
  color: #cfcfe4;
}

.CardProduct:hover .CardProductPrice {
  color: rgb(255, 255, 255);
}

/*Bottom Banner Home*/
.BottomBanner-Home {
  padding: 40px 10vw;
}

/*Footer*/
footer {
  padding: 40px 10vw;
  font-family: 'Montserrat', sans-serif;
}

.SectionDivisor {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #CEDBDC;
  margin: 30px 0;
}

.SectionDivisor.ProductPage {
  margin: 0;
}

.FooterSuperior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ColumnFooterTitle {
  font-size: 18px;
  font-weight: 500;
  color: #38433F;
  margin-bottom: 20px;
}

.ColumnFooterList li{
  margin-top: 10px;
  color: #38433F;
}

.FooterInferior {
  display: flex;
}

.LeftFooterInferior {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.ColumnFooterInferior {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ColumnFooterInferior li {
  margin-right: 10px;
}

.RigthFooterInferior {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}


/*Conteiner Product*/
.ContainerProduct {
  display: flex;
  justify-content: space-between;
  padding: 40px 10vw;
  font-family: 'Montserrat', sans-serif;
}

.ImageProductArea {
  width: 47.5%;
}

.ImageProduct {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Colors {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.ColorSelection {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px #C2C2C2 solid;
  border-radius: 50%;
}

.ColorSelection.Roxo {
  background-color: #3E4095;
}

.ColorSelection.Yellow {
  background-color: #dae90e;
}

.ColorSelection.Red {
  background-color: #e40f0f;
}

.ColorSelection.Green {
  background-color: #13d10c;
}


/*Info Product*/
.InfoProductArea {
  width: 47.5%;
  border: 1px #C2C2C2 solid;
  border-radius: 15px;
  padding: 40px;
  height: fit-content;
}

.NameProduct {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.ColorId {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  font-size: 18px;
  margin-top: 10px;
  color: #9c9c9c;
}

.SubTitleInfoProduct {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 40px;
}

.SubTitleInfoProduct.ColorsTitle {
  margin-top: 60px;
  margin-bottom: 40px;
}

.OtherFinishes {
  display: flex;
  justify-content: center;
  width: 100%;
}

.OtherFinishes img {
  width: 20%;
}

.PriceAmountProduct {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 60px;
}

.PriceAmountProduct b {
  font-size: 36px;
}

.AmountProduct {
  display: flex;
  align-items: center;
}
.ButtonLess ,
.ButtonMore {
  padding: 10px;
  border-radius: 50%;
  border: 1px #C2C2C2 solid;
  margin-right: 10px;
  transition: .2s;
}

.ButtonLess:hover ,
.ButtonMore:hover {
  background-color: #3E4095;
  border: 1px #5d5fb1 solid;
}

.ButtonMore {
  margin-right: 0px;
  margin-left: 10px;
}

.AmountProduct input {
  width: 60px;
  height: 40px;
  border: 1px #C2C2C2 solid;
  border-radius: 8px;
  background-color: transparent;
}

.ButtonShop {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #4244B5;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 40px;
  border-radius: 8px;
  margin-top: 40px;
}

.ButtonShop svg {
  margin-right: 10px;
}

.CalculateShipping {
  margin-top: 30px;
}

.LabelCalculateShipping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.LabelCalculateShipping a{
  font-weight: 400;
  color: #3E4095;
}

.InputCalculateShipping {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px #C2C2C2 solid;
  padding-right: 20px;
  border-radius: 8px;
}

.InputCalculateShipping input {
  padding: 20px 40px;
  height: 100%;
  width: 100%;
}

.InputCalculateShipping input:focus {
  outline: 0;
}

.InputCalculateShipping a {
  font-weight: 600;
  color: #3E4095;
}

.ShippingResponse {
  margin-top: 40px;
}
.SubtitleCardInfoProduct {
  font-size: 18px;
  font-weight: 600;
}

.SubtitleCardInfoProduct {
  display: flex;
}

.HeadShipping {
  display: flex;
  justify-content: space-between;
}

.HeadShipping h3 {
  color: #0d9e08;
}

.SubtitleCardInfoProduct svg {
  margin-right: 20px;
}

.TextBodyShipping {
  padding-left: 44px ;
}

/*Detail Info Product*/
.DetailInfoProduct {
  padding: 40px 10vw;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between;
}

.ColumnDetailInfoProduct {
  width: 47.5%;
}

.DetailInfoProduct h2{
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
  color: #b6b6b6;
}

.DetailInfoProduct p {
  line-height: 140%;
  margin-top: 10px;
}

.question {
  border-bottom: 1px solid #ccc;
  padding: 0px;
  background-color: #393ba1;
  color: #fff;
}

.question i {
  color: #1e2068;
  margin-right: 10px;
}

#question-Informacoes {
  margin-top: 20px;
}

.question#question-Diluiçao {
  background-color: #4e50bd;
}

.question#question-Aplicação {
  background-color: #6264c5;
}

.question#question-Secagem {
  background-color: #7778d1;
}

.question#question-CompBasica {
  background-color: #9293dd;
}

.question#question-PrepSup {
  background-color: #9d9eda;
}

.question#question-Advetencia {
  background-color: #abace0;
}

.question#question-Precaucoes {
  background-color: #bfbfe7;
}

.question#question-Rendimento {
  background-color: #cdcdeb;
}

.question#question-Uso{
  background-color: #dadaee;
}

.question input,
.question .answer { display: none ; padding: 20px 20px; color: #cecece; }

.question label {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  font-weight: 500;
  
  
}

.question input:checked ~ .answer {
  display: block;
  background-color: #fff;
  color: #555;
}